.card {
    width: 100%;
    margin: auto;
    height: 100%;

    @media (min-width: $mantine-breakpoint-xs) {
        .card {
            width: 300px; /* Fixes the width on larger screens */
        }
    }
}

.image {
    height: 360px;
}
